@import url('https://fonts.googleapis.com/css?family=Play');


.adminPanel {
    
    
    text-align: center;
    
}

.adminPanel form input {
    
    margin-top: 20px
    
}


.admin{
    float: right;
    margin-right: 60px;
    /*margin-top: 0px*/
}

.admin li {
    list-style-type: none;

}

.admin li a {
    text-decoration: none;
    color: #AA9785;

}

.admin li a:hover {
    color: #bfbfbf;

}

/*.login {
    float: left;
}*/