@import url('https://fonts.googleapis.com/css?family=Play');

.sidebar-nav {
    padding: 9px 0;
}

.navbar-default  {




    background-color:  rgba(104,66,30, 0.5);
    background:  rgba(104,66,30, 0.5);
    color:  rgba(104,66,30, 0.5);
    border-color:  rgba(104,66,30, 0.5);



}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-default .navbar-nav>li>a {
    font-family: 'Play', sans-serif;
    color: black;
}


.dropdown-menu>li>a {
    font-family: 'Play', sans-serif;
    color: black;
}

.logo {
    position: absolute;
    top: 0.6%;
    max-width: 50px;
    border-radius: 50%;
}


#zajawka{
    margin-top: 70px;
/*background-color: #FECA91;*/
/*width: 300px;*/
text-align: center;

}

.img-warmio {
    width: 50%;
height: 250px;
    border-radius: 2%;
margin-left: 20%;
}










/* ========= COMMON ========= */

* {
    margin: 0;
    padding: 0;
}

body {
    /*background-color: #121314;*/
    background: url(http://wallpapercave.com/wp/8oOtk3p.jpg);
    background-size: cover;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.round {
    border-radius: 50%;
}


/* ========= RECORD ELEMENTS ========= */

.outer {
    overflow-y: hidden;
    padding-top: 20px;
    margin-bottom: 40px;

}

.layer,
#record,
.outer {

    height: 400px;
}

.layer,
#record {
    display: block;
    width: 400px;
    position: absolute;
}

#record {
    background-color: #070707;
    -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 8px 4px rgba(0, 0, 0, 0.5);
}

#sheen {
    display: block;
    width: 100%;
    height: 0px;
    -webkit-box-shadow: 0px 0px 250px 100px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px 0px 250px 100px rgba(255, 255, 255, 0.2);
    box-shadow:         0px 0px 250px 100px rgba(255, 255, 255, 0.2);
    -webkit-transform: rotate(45deg) translateX(-50%);
    -webkit-transform-origin: 0;
    -moz-transform: rotate(45deg) translateX(-50%);
    -moz-transform-origin: 0;
    transform: rotate(4deg) translateX(-50%);
    transform-origin: 0;
    position: absolute;
    overflow: hidden;
}

#label {
    display: block;
    width: 33%;
    height: 33%;
    background-color: #CCC;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 0px 8px 4px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 0px 8px 4px rgba(0, 0, 0, 0.2);
}

#hole {
    display: block;
    width: 10%;
    height: 10%;
    background-color: #121314;
    -webkit-box-shadow: inset 0px 0px 8px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    inset 0px 0px 8px 8px rgba(0, 0, 0, 0.5);
    box-shadow:         inset 0px 0px 8px 8px rgba(0, 0, 0, 0.5);
}


/* ========= GROOVES ========= */

.groove {
    display: block;
    background-color: transparent;
    border: 1px solid rgba(40, 40, 40, 0.3);
    position: absolute !important;
}

.trackGroove {
    border: 2px solid rgba(7, 7, 7, 0.2);
}


/* ========= ANIMATION ========= */

.turning .rotating {
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         7s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  linear;
    -moz-animation-name:             rotate;
    -moz-animation-duration:         7s;
    -moz-animation-iteration-count:  infinite;
    -moz-animation-timing-function:  linear;
    animation-name:             rotate;
    animation-duration:         7s;
    animation-iteration-count:  infinite;
    animation-timing-function:  linear;
}

.turning .backnforth {
    -webkit-animation-name:             backnforth;
    -webkit-animation-duration:         1s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  linear;
    -moz-animation-name:             backnforth;
    -moz-animation-duration:         1s;
    -moz-animation-iteration-count:  infinite;
    -moz-animation-timing-function:  linear;
    animation-name:             backnforth;
    animation-duration:         1s;
    animation-iteration-count:  infinite;
    animation-timing-function:  linear;
}

.turning .wobble { -webkit-animation: wobble 20s infinite; }

.rpm33 .rotating {
    -webkit-animation-duration:         1.82s;
    -moz-animation-duration:         1.82s;
    animation-duration:         1.82s;
}

.rpm45 .rotating {
    -webkit-animation-duration:         1.33s;
    -moz-animation-duration:         1.33s;
    animation-duration:         1.33s;
}

.rpm78 .rotating {
    -webkit-animation-duration:         0.77s;
    -moz-animation-duration:         0.77s;
    animation-duration:         0.77s;
}

@-webkit-keyframes rotate     { from { -webkit-transform: rotate(0deg);  } to  { -webkit-transform: rotate(360deg);  } }
@-webkit-keyframes backnforth { 33%  { -webkit-transform: rotate(-1deg); } 66% { -webkit-transform: rotate(1deg);    } }
@-webkit-keyframes wobble     { 33%  { -webkit-transform:rotate(0.1deg); } 66% { -webkit-transform: rotate(-0.1deg); } }

@-moz-keyframes rotate     { from { -moz-transform: rotate(0deg);  } to  { -moz-transform: rotate(360deg);  } }
@-moz-keyframes backnforth { 33%  { -moz-transform: rotate(-1deg); } 66% { -moz-transform: rotate(1deg);    } }
@-moz-keyframes wobble     { 33%  { -moz-transform:rotate(0.1deg); } 66% { -moz-transform: rotate(-0.1deg); } }

@keyframes rotate     { from { transform: rotate(0deg);  } to  { transform: rotate(360deg);  } }
@keyframes backnforth { 33%  { transform: rotate(-1deg); } 66% { transform: rotate(1deg);    } }
@keyframes wobble     { 33%  { transform:rotate(0.1deg); } 66% { transform: rotate(-0.1deg); } }






















.footer {

    background: white;
    padding: 10px 25px;
    text-align: center;
}
.footer-tag {
    font-family: 'Play', sans-serif;
    margin-top: 2em;
    font-size: small;
}

@media screen and (max-width: 768px) {

    .dropdown:hover .dropdown-menu {
        display: none;
    }
}

.dropdown-menu li:hover .sub-menu {
    visibility: hidden;
}
