@import url('https://fonts.googleapis.com/css?family=Play');


body {

    background: url(http://wallpapercave.com/wp/8oOtk3p.jpg);
}



.sidebar-nav {
    padding: 9px 0;
}

.navbar-default  {




    background-color:  rgba(104,66,30, 0.5);
    background:  rgba(104,66,30, 0.5);
    color:  rgba(104,66,30, 0.5);
    border-color:  rgba(104,66,30, 0.5);



}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-default .navbar-nav>li>a {
    font-family: 'Play', sans-serif;
    color: black;
}


.dropdown-menu>li>a {
    font-family: 'Play', sans-serif;
    color: black;
}

.logo {
    position: absolute;
    top: 0.6%;
    max-width: 50px;
    border-radius: 50%;
}


#zajawka{
    margin-top: 70px;
/*background-color: #FECA91;*/
/*width: 300px;*/
text-align: center;

}

.img-warmio {
    width: 50%;
height: 250px;
    border-radius: 2%;
margin-left: 20%;
}




.maps {
padding: 30px;
    text-align: center;


}












.oop-img {
    max-width: 100%;
}

.oop
{
    cursor: pointer;
    max-width: 8.4%;
    padding: 10px;

}


.footer {

    background: white;
    padding: 10px 25px;
    text-align: center;
    background-color: #CCCCCC;
}
.footer-tag {
    font-family: 'Play', sans-serif;
    margin-top: 2em;
    font-size: small;
}





@media screen and (max-width: 768px) {

    .dropdown:hover .dropdown-menu {
        display: none;
    }
}

.dropdown-menu li:hover .sub-menu {
    visibility: hidden;
}
