@import url('https://fonts.googleapis.com/css?family=Play');






.maps {
padding: 30px;
    text-align: center;


}



.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {

    background-color: #AA9785;
    opacity: 0.8;

}
