@import url('https://fonts.googleapis.com/css?family=Play');




h2 {
    font-family: 'Oswald', sans-serif;
}

.maps {
padding: 30px;
    text-align: center;
    background-color: #FFFFff;


}

.contact p a {
    text-decoration: none;
}

.contact p a:hover {
    color: #801F2B;
}

.contact hr {
    width: 80%;
}

.contact h2, h4 {
    padding: 20px;
}

.contact p {
    color: black;
    text-align: start;
    margin-left: 20%;
    text-decoration: none;
    font-family: 'Play', sans-serif;
}

.contact strong {
    font-weight: bold;
}


.cont1 {
    padding-right: 60px;
}

.cont2, .cont3 {
    padding-right: 55px;
}

.cont4 {
    padding-right: 51px;
}

.cont5 {
    padding-right: 45px;
}

.cont6 {
    padding-right: 41px;
}


.ikea {
    color: black;
}


.mpaps h2 {
    padding: 20px;
    font-family: 'Play', sans-serif;
}

.google-map {
    /*padding-top: 20px;*/
    margin-top: 25px;
    position: relative;
    /*padding-bottom: 30%;*/
    height: 470px;
    overflow: hidden;
}
.google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90% !important;
    height: 100% !important;
    margin-left: 5%;
    margin-right: 5%;
}


.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {

    background-color: #AA9785;
    opacity: 0.8;

}


@media screen and (max-width:491px ) {

.contact .oran {
    margin-left: -40px;!important;


}

    .krs {
        margin-right: 0px;
        margin-left: 12px;
    }

    .krss {
        margin-right: 50px;
        margin-left: 52px;
    }


}



@media screen and (max-width: 525px){
    .bank {
        margin-right: 50px;
        margin-left: 60px;
    }

    .bank1 {
        /*margin-right: 50px;*/
        margin-left: 105px;
    }
}

@media screen and (min-width:492px) and (max-width: 598px) {

    .contact .oran {
        margin-left: -40px;!important;


    }
    .krs {
        margin-right: 0px;
        margin-left: 0px;
    }

    .krss {
        margin-right: 0px;
        margin-left: 0px;
    }
}


@media screen and (max-width:768px ) {

    .contact p {

        margin-left: 2%;
    }
    .cont5 {
        padding-right: 5px;
    }

    .cont6 {
        padding-right: 1px;
    }

    .google-map {

        height: 280px;
    }

}

@media screen and (min-width:769px ) and (max-width: 991px) {

    .google-map {

        height: 300px;
    }

}


@media screen and (min-width: 992px) and (max-width: 1200px) {

    .contact .oran {
        margin-left: -40px;!important;
    }

    .cont5 {
        padding-right: 5px;
    }

    .cont6 {
        padding-right: 1px;
    }

}


@media screen and (min-width: 1201px) and (max-width: 1400px) {

    .contact p {

        margin-left: 5%;
      }

}


