@import url('https://fonts.googleapis.com/css?family=Play');

.sidebar-nav {
    padding: 9px 0;
}

.navbar-default  {




    background-color:  rgba(104,66,30, 0.5);
    background:  rgba(104,66,30, 0.5);
    color:  rgba(104,66,30, 0.5);
    border-color:  rgba(104,66,30, 0.5);



}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-default .navbar-nav>li>a {
    font-family: 'Play', sans-serif;
    color: black;
}


.dropdown-menu>li>a {
    font-family: 'Play', sans-serif;
    color: black;
}

.logo {
    position: absolute;
    top: 0.6%;
    max-width: 50px;
    border-radius: 50%;
}


@media screen and (max-width: 768px) {

    .dropdown:hover .dropdown-menu {
        display: none;
    }
}

.dropdown-menu li:hover .sub-menu {
    visibility: hidden;
}