@import url('https://fonts.googleapis.com/css?family=Play');





.feliks {
margin-top: 0
}

.feliks-img {
    width: 100%;

}

.oop-img {
    max-width: 100%;
}

.oop
{
    cursor: pointer;
    max-width: 8.4%;
    padding: 10px;

}


.footer {

    background: white;
    padding: 10px 25px;
    text-align: center;
    background-color: #CCCCCC;
}
.footer-tag {
    font-family: 'Play', sans-serif;
    margin-top: 2em;
    font-size: small;
}


@media screen and (max-width: 768px) {

    .dropdown:hover .dropdown-menu {
        display: none;
    }
}

.dropdown-menu li:hover .sub-menu {
    visibility: hidden;
}