@import url('https://fonts.googleapis.com/css?family=Play');


body{
    background-color: grey;
}

.sidebar-nav {
    padding: 9px 0;
}

.navbar-default  {




    background-color:  rgba(255, 255, 255, 0.5);
    background:  rgba(255, 255, 255, 0.5);
    color:  rgba(255, 255, 255, 0.5);
    border-color:  rgba(255, 255, 255, 0.5);



}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-default .navbar-nav>li>a {
    font-family: 'Play', sans-serif;
    color: black;
}


.dropdown-menu>li>a {
    font-family: 'Play', sans-serif;
    color: black;
}