@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Oswald');


body {
    
    /*background-image: url("http://i.imgur.com/UYB1d.png");*/
    background-size: 100%;
    background-color: bisque;

}


#content {
    margin-top: 0px;
padding-right: 0px;
    padding-left: 0px;
    width: 100%;
}





.sidebar-nav {
    padding: 9px 0;
}

.navbar-default  {


height: 55px;

    background-color:  #7C4941;
    /*background:  rgba(104,66,30, 0.5);*/
    /*color:  rgba(104,66,30, 0.5);*/
border-color:  rgba(104,66,30, 0.5);



}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-default .navbar-nav>li>a {
   font-family: 'Play', sans-serif;
    color: #FFFFff;
    font-size: 1.2em;
}

.navbar-default .navbar-nav>li>a:hover {
    border-bottom: inset;
    color: #FFFFff;
    padding-bottom: 5px;
    border-color: #FFFFff;
}

.navbar-default .navbar-nav>li>a:focus {
    border-bottom: inset;
    color: #FFFFff;
    padding-bottom: 5px;
    border-color: #FFFFff;
}

.dropdown-menu>li>a {
    font-family: 'Play', sans-serif;
    color: black;
}

.logo {
    padding-top: 2px;
    position: absolute;
    top: 0.6%;
    max-width: 50px;
    border-radius: 50%;
}



/*.parallax {*/
    /*background-image: url("https://cdn.pixabay.com/photo/2014/10/01/08/43/hymnal-468126_960_720.jpg");*/

    /*min-height: 300px;*/
    /*height: 100%;*/

    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/

/*}*/




.baner {
    margin-top: 50px;
    background-image: url("../images/banner_img1.jpg");
    background-size: 90%;
    margin-bottom: 0px;
    padding-top: 0px;
}

.baner .container {
    max-height: 200px;
}

.baner h2, p {
    color: #FFFFff;
}


.title{
    text-align: right;

}
.title h1{
    font-size: 3.5em;
    font-family: 'Play', sans-serif;
}


.icon {
    width:  41.333333%;
    margin-top: 50px;
}

.footer .container {
    width: 100%;
}

.admin-sec {
    width: 23.37%;
    margin-top: 50px;
    margin-left: 30px;
    /*margin-right: -172px;*/
}

.admin-sec a {
    text-decoration: none;
    color: #999999;
    font-family: 'Play', sans-serif;

}

.admin-sec a:hover {
    color: #e8e8e8;
    transition: 0.3s;
}

.admin-sec hr {
    padding-bottom: 20px;
}

.oop-img {
    max-width: 100%;
}

.oop
{
    cursor: pointer;
    max-width: 150px;
    padding-right: 20px;
    padding-left: 20px;
}

.links{

    margin-left: -30px;
    /*margin-right: 170px;*/

}

.links ul {
    margin-left: -20px;
}


.links hr {
    margin-top: -5px;
    /*width: 80%;*/
}

.links h2 {
    font-family: 'Play', sans-serif;
    padding-bottom: 10px;
    color: bisque;
}

.links ul li {
    padding-bottom: 5px;
    text-align: start;
    list-style-type: none;
    color: beige;
    font-family: 'Play', sans-serif;
}

.links ul li a:hover {
    color: #E2E0E1;
}

.links ul li a {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: bisque;
}

.link1 {
    margin-right: 71px;
}

.link2 {
    margin-right: 47px;
}

.link3 {
    margin-right: 10px;
}


.spcial-oop {
    width: 128px;
}

.medal {
    height: 80px;
    cursor: pointer;
}

.footer-icons {
    margin-left: -100px;
    margin-right: 110px;
}

.footer {

    /*background: white;*/
    padding: 20px 25px;
    text-align: center;
/*background: ;*/
  /*background-color: #CCCCCC;*/
    /*opacity: 0.4;*/
    background-color: #7C4742;
}
.footer-tag {
    font-family: 'Play', sans-serif;
    /*margin-top: 6em;*/
    font-size: small;
    /*padding-right: 100px;*/
}

.footer-tags {
    font-family: 'Play', sans-serif;
    margin-top: -20px;
    font-size: small;
    padding-right: -20px;
}


.person-link {
text-decoration: none;
    color: #AA9785;
    font-size: smaller;
   /*padding-left: 55px;*/
}

.person-link:hover {
    text-decoration: none;
    color: #801F2B;
}

.person-link:focus {

    text-decoration: none;
    color: black;
}

.zajawka {


    background-color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);


    height: 500px;
    font-size:36px;

}



#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    /*font-size: 2em;*/
    /*background: #FFFFFF;*/
    color: #c33764;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
/*#back-to-top:hover {*/
    /*!*background: #e9ebec;*!*/
    /*opacity: 1;*/
/*}*/
#back-to-top.show {
    opacity: 1;
}

#back-to-top.show {
    /*opacity: 0.7;*/
}

@media screen and (max-width:768px ) {

    #back-to-top {
        right: 0px;
    }

}



@media screen and (max-width: 585px) {
    .baner {

        background-size: 195%;

    }

}


@media screen and (min-width: 586px) and (max-width: 768px) {

    .dropdown:hover .dropdown-menu {
        display: none;
    }


.dropdown-menu li:hover .sub-menu {
    visibility: hidden;

}

    .baner {

        background-size: 115%;

    }
}

@media screen and (min-width:769px ) and (max-width: 991px) {

    .oop {
        max-width: 120px;
    }
    .wbs {
        max-width: 90px;
    }

    .spcial-oop {
        max-width: 110px;

    }

    .medal{
        height: 70px;
    }

    .footer-icons {
        margin-left: -100px;
        margin-right: 35px;
        padding-top: 20px;
    }

    .baner {

        background-size: 102%;

    }

}


@media screen and (min-width:992px ) and (max-width: 1090px) {

    .oop {
        max-width: 120px;
    }
    .wbs {
        max-width: 90px;
    }

    .spcial-oop {
        max-width: 110px;
    }

    .medal{
        height: 70px;
    }

    .footer-icons {
        margin-left: -100px;
        margin-right: 35px;
        padding-top: 20px;
    }

}


@media screen and (min-width: 1091px) and (max-width: 1200px) {

    .oop {
        max-width: 120px;
    }
    .wbs {
        max-width: 90px;
    }

    .spcial-oop {
        max-width: 110px;
    }

    .medal{
        height: 70px;
    }

    .footer-icons {
        margin-left: -100px;
        margin-right: 90px;
        padding-top: 20px;
    }
}











.navbar-default .navbar-collapse, .navbar-default .navbar-form {

    border-color: inherit;
}





@media screen and (max-width:768px ) {

    .navbar-default .navbar-nav>li>a {
        font-family: 'Play', sans-serif;
        color: #801F2B;
        font-size: 1.2em;
    }

    .navbar-default .navbar-nav > li > a:hover {

        color: #801F2B;
        border-color: #FFE4C4;
    }

    .navbar-default .navbar-nav > li > a:focus {

        color: #801F2B;
        border-color: #FFE4C4;
    }

    .navbar-nav {
        text-align: center;
        margin: 0.5px -15px;
        background-color: #FFE4C4;
    }

}


.navbar-default .navbar-toggle{
    border-color: #7C4941;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
     background-color: inherit;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #efbcbc;
}