@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Oswald');


body {
    
    /*background-image: url("http://i.imgur.com/UYB1d.png");*/
    background-size: 100%;
    background-color: bisque;

}


#content {
    margin-top: 0px;
padding-right: 0px;
    padding-left: 0px;
    width: 100%;
}




.sidebar-nav {
    padding: 9px 0;
}

.navbar-default  {


height: 55px;

    background-color:  #7C4941;
    /*background:  rgba(104,66,30, 0.5);*/
    /*color:  rgba(104,66,30, 0.5);*/
border-color:  rgba(104,66,30, 0.5);



}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-default .navbar-nav>li>a {
   font-family: 'Play', sans-serif;
    color: #FFFFff;
}

.navbar-default .navbar-nav>li>a:hover {
    border-bottom: inset;
    color: #FFFFff;
    padding-bottom: 5px;
    border-color: #FFFFff;
}



.dropdown-menu>li>a {
    font-family: 'Play', sans-serif;
    color: black;
}

.logo {
    padding-top: 2px;
    position: absolute;
    top: 0.6%;
    max-width: 50px;
    border-radius: 50%;
}



/*.parallax {*/
    /*background-image: url("https://cdn.pixabay.com/photo/2014/10/01/08/43/hymnal-468126_960_720.jpg");*/

    /*min-height: 300px;*/
    /*height: 100%;*/

    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/

/*}*/




.baner {
    margin-top: 50px;
    background-image: url("../images/banner_img1.jpg");
    background-size: 90%;
    margin-bottom: 0px;
    padding-top: 0px;
}

.baner .container {
    max-height: 200px;
}

.baner h2, p {
    color: #FFFFff;
}


.title{
    text-align: right;

}
.title h1{
    font-size: 3.5em;
    font-family: 'Play', sans-serif;
}




.oop-img {
    max-width: 100%;
}

.oop
{
    cursor: pointer;
    max-width: 8.4%;
    padding: 10px;

}

.footer {

    /*background: white;*/
    padding: 10px 25px;
    text-align: center;
/*background: ;*/
  /*background-color: #CCCCCC;*/
    /*opacity: 0.4;*/
    background-color: #7C4742;
}
.footer-tag {
    font-family: 'Play', sans-serif;
    margin-top: 2em;
    font-size: small;
}
.person-link {
text-decoration: none;
    color: black;
}

.person-link:hover {
    text-decoration: none;
    color: black;
}

.person-link:focus {

    text-decoration: none;
    color: black;
}

.zajawka {


    background-color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);


    height: 500px;
    font-size:36px;

}



#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    /*font-size: 2em;*/
    /*background: #FFFFFF;*/
    color: #c33764;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    /*background: #e9ebec;*/
    opacity: 1;
}
#back-to-top.show {
    opacity: 1;
}

#back-to-top.show {
    opacity: 0.7;
}

@media screen and (max-width:768px ) {

    #back-to-top {
        right: 0px;
    }

}




@media screen and (max-width: 768px) {

    .dropdown:hover .dropdown-menu {
        display: none;
    }
}

.dropdown-menu li:hover .sub-menu {
    visibility: hidden;
}