@import url('https://fonts.googleapis.com/css?family=Play');

.sidebar-nav {
    padding: 9px 0;
}



.navbar-default  {




    background-color:  rgba(104,66,30, 0.5);
    background:  rgba(104,66,30, 0.5);
    color:  rgba(104,66,30, 0.5);
    border-color:  rgba(104,66,30, 0.5);



}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-default .navbar-nav>li>a {
    font-family: 'Play', sans-serif;
    color: black;
}


.dropdown-menu>li>a {
    font-family: 'Play', sans-serif;
    color: black;
}

.logo {
    position: absolute;
    top: 0.6%;
    max-width: 50px;
    border-radius: 50%;
}



.baner {
    margin-top: 51px;
    margin-bottom: 0;
    /*padding-bottom: 0;*/
    /*background-image: url("images/zajawka-pzhio.png");*/
}

.img {

    width: 380px;
    line-height: 300px;
}

.order {

    max-width: 30%;
}


.oop-img {
    max-width: 100%;
}

.oop
{
    cursor: pointer;
    max-width: 8.4%;
    padding: 10px;

}

.managment {
    padding-top: 0;
    margin-top: 0;
    background-color: #CCCCCC;
/*background-image: url("");*/
    text-align: center;
}

.card {

    padding: 20px;
}

h2 {

    font-family: 'Play', sans-serif;
}

.card-text {

    padding: 20px;
    font-size: 1.2em;


}

.card-group {

    padding: 20px;
}



.revisionCommittee {

    text-align: center;
    padding: 30px;
}


.artistCommittee {
padding: 30px;
    text-align: center;
    background-color: #CCCCCC;
}


.honorBadge {

    padding: 30px;
    text-align: center;
}




.footer {

    background: white;
    padding: 10px 25px;
    text-align: center;
    background-color: #CCCCCC;
}
.footer-tag {
    font-family: 'Play', sans-serif;
    margin-top: 2em;
    font-size: small;
}

@media screen and (max-width: 768px) {

    .dropdown:hover .dropdown-menu {
        display: none;
    }
}

.dropdown-menu li:hover .sub-menu {
    visibility: hidden;
}
