@import url('https://fonts.googleapis.com/css?family=Play');


.logo {
    position: absolute;
    top: 0.6%;
    max-width: 50px;
    border-radius: 50%;
}



.baner {
    /*margin-top: 51px;*/
    /*margin-bottom: 0;*/
    /*padding-bottom: 0;*/
    /*background-image: url("images/zajawka-pzhio.png");*/
    /*background: url("");*/
}

.img {

    width: 380px;
    line-height: 300px;
}

.order {

    max-width: 30%;
}


.oop-img {
    max-width: 100%;
}

.oop
{
    cursor: pointer;
    max-width: 8.4%;
    padding: 10px;

}

.managment {
    padding-top: 0;
    margin-top: 0;
    /*background-color: #CCCCCC;*/
/*background-image: url("");*/
    text-align: center;
}

.card {

    padding: 20px;
}

h2 {

    font-family: 'Play', sans-serif;
}

.card-text {

    padding: 20px;
    font-size: 1.2em;


}

.card-group {

    padding: 20px;
}



.revisionCommittee {

    text-align: center;
    padding: 30px;

    background: url(http://wallpapercave.com/wp/8oOtk3p.jpg);
}


.artistCommittee {
padding: 30px;
    text-align: center;
    /*background-color: #CCCCCC;*/
}


.honorBadge {

    padding: 30px;
    text-align: center;
    background: url(http://wallpapercave.com/wp/8oOtk3p.jpg);
}





@media screen and (max-width: 768px) {

    .dropdown:hover .dropdown-menu {
        display: none;
    }
}

.dropdown-menu li:hover .sub-menu {
    visibility: hidden;
}
