@import url('https://fonts.googleapis.com/css?family=Play');



.img {

    width: 380px;
    line-height: 300px;
}

.order {

    max-width: 30%;
}


.managment {
    padding-top: 0;
    margin-top: 0;
    /*background-color: #CCCCCC;*/
/*background-image: url("");*/
    text-align: center;
}

.card {

    padding: 20px;
}

h2 {

    font-family: 'Play', sans-serif;
}

.card-text {

    padding: 20px;
    font-size: 1.2em;


}

.card-group {

    padding: 20px;
}



.revisionCommittee {

    text-align: center;
    padding: 30px;

    background: url(http://wallpapercave.com/wp/8oOtk3p.jpg);
}


.artistCommittee {
padding: 30px;
    text-align: center;
    /*background-color: #CCCCCC;*/
}


.honorBadge {

    padding: 30px;
    text-align: center;
    background: url(http://wallpapercave.com/wp/8oOtk3p.jpg);
}





