@import url('https://fonts.googleapis.com/css?family=Play');




.logo {
    position: absolute;
    top: 0.6%;
    max-width: 50px;
    border-radius: 50%;
}


.oop-img {
    max-width: 100%;
}

.oop
{
    cursor: pointer;
    max-width: 8.4%;
    padding: 10px;

}



