@import url('https://fonts.googleapis.com/css?family=Play');

.sidebar-nav {
    padding: 9px 0;
}

.navbar-default  {




    background-color:  rgba(255, 255, 255, 0.5);
    background:  rgba(255, 255, 255, 0.5);
    color:  rgba(255, 255, 255, 0.5);
border-color:  rgba(255, 255, 255, 0.5);



}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-default .navbar-nav>li>a {
   font-family: 'Play', sans-serif;
    color: black;
}


.dropdown-menu>li>a {
    font-family: 'Play', sans-serif;
    color: black;
}

.parallax {
    background-image: url("https://cdn.pixabay.com/photo/2014/10/01/08/43/hymnal-468126_960_720.jpg");

    min-height: 300px;
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.title{
    text-align: right;

}
.title h1{
    font-size: 3.5em;
    font-family: 'Play', sans-serif;
}


.footer {

    background: white;
    padding: 10px 25px;
    text-align: center;
}
.footer-tag {
    font-family: 'Play', sans-serif;
    margin-top: 2em;
    font-size: small;
}
.person-link {
text-decoration: none;
    color: black;
}

.person-link:hover {
    text-decoration: none;
    color: black;
}

.person-link:focus {

    text-decoration: none;
    color: black;
}

.zajawka {


    background-color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);


    height: 500px;
    font-size:36px;

}

@media screen and (max-width: 768px) {

    .dropdown:hover .dropdown-menu {
        display: none;
    }
}

.dropdown-menu li:hover .sub-menu {
    visibility: hidden;
}