@import url('https://fonts.googleapis.com/css?family=Play');

.sidebar-nav {
    padding: 9px 0;
}


.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-default .navbar-nav>li>a {
   font-family: 'Play', sans-serif;
}

.dropdown-menu>li>a {
    font-family: 'Play', sans-serif;
}

.parallax {
    background-image: url("http://www.pzchio.rzeszow.pl/img/seo.pzco/baner_02.jpg");

    min-height: 300px;
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.title{
    text-align: right;

}
.title h1{
    font-size: 3.5em;
    font-family: 'Play', sans-serif;
}


@media screen and (max-width: 768px) {

    .dropdown:hover .dropdown-menu {
        display: none;
    }
}

.dropdown-menu li:hover .sub-menu {
    visibility: hidden;
}