

.first-team {
    text-align: center;
background-color: darksalmon;

}


.first-team p {
   text-align: start;
margin-left: 43%;
}

.tem-card {
    text-align: center;
}

.tem-card h2 {
    font-family: 'Oswald', sans-serif;
}


.sisia {
    background-color: white;
}

.sisia address p {
    margin-left: 36%;

}

.title-adres {
    text-align: center;
    width: 400px;
}

.misia address p {
    margin-left: 36%;

}

.spec {
    margin-left: 5%;
}

.dyrygent {

}