@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Oswald');

.first-team {
    text-align: center;
background-color: darksalmon;

}


.first-team p {
   text-align: start;
margin-left: 43%;
}

.tem-card {
    text-align: center;
}

.tem-card h2 {
    font-family: 'Oswald', sans-serif;
}


.sisia {
    background-color: white;
    height: 400px;
}

.sisia .card .card-body address h2 {
    padding-top: 20px;
    padding-bottom: 15px;
}

.sisia1 .card .card-body address h2 {
    padding-top: 20px;
    padding-bottom: 15px;
}

.sisia1 {
    background-color: lightblue;
    height: 400px;
}

.sisia address p {
    margin-left: 36%;

}

.title-adres {
    text-align: center;
    width: 400px;
}

.misia address p {
    margin-left: 36%;

}

.spec {
    margin-left: 5%;
}

.dyrygent {

}









.team-table table th i {
    /*margin-right: 2px;*/
    color: white;
}

.team-table table tbody tr td {
    font-size: 1.1em;
    font-family: 'Play', sans-serif;
}

.team-table table tbody tr td a {
    text-decoration: none;
    /*color: #801F2B;*/
}

.team-table table tbody tr td a:hover {
    color: #801F2B;
}

.team-table {
    /*background: #fafafa url(https://jackrugile.com/images/misc/noise-diagonal.png);*/
    color: #444;
    font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
    /*background-color: antiquewhite;*/
}

.team-table strong {
    font-weight: bold;
}

.team-table em {
    font-style: italic;
}

.team-table table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 90%;
}

.team-table table th {
    /*background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);*/
background-color: #9B070A;
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

th:first-child {
    border-left: 1px solid #777;
    box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}

tr {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:nth-child(odd) td {
    background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;
}

tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}

tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}

tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}










/*.table h2{*/
    /*text-align: center;*/
    /*font-size: 18px;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: 1px;*/
    /*color: white;*/
    /*padding: 30px 0;*/
/*}*/

/*!* Table Styles *!*/

/*.table-wrapper{*/
    /*margin: 10px 70px 70px;*/
    /*box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );*/
/*}*/

/*.fl-table {*/
    /*border-radius: 5px;*/
    /*font-size: 12px;*/
    /*font-weight: normal;*/
    /*border: none;*/
    /*border-collapse: collapse;*/
    /*width: 100%;*/
    /*max-width: 100%;*/
    /*white-space: nowrap;*/
    /*background-color: white;*/
/*}*/

/*.fl-table td, .fl-table th {*/
    /*text-align: center;*/
    /*padding: 8px;*/
/*}*/

/*.fl-table td {*/
    /*border-right: 1px solid #f8f8f8;*/
    /*font-size: 12px;*/
/*}*/

/*.fl-table thead th {*/
    /*color: #ffffff;*/
    /*background: #4FC3A1;*/
/*}*/


/*.fl-table thead th:nth-child(odd) {*/
    /*color: #ffffff;*/
    /*background: #324960;*/
/*}*/

/*.fl-table tr:nth-child(even) {*/
    /*background: #F8F8F8;*/
/*}*/

/*!* Responsive *!*/

/*@media (max-width: 767px) {*/
    /*.fl-table {*/
        /*display: block;*/
        /*width: 100%;*/
    /*}*/
    /*.table-wrapper:before{*/
        /*content: "Scroll horizontally >";*/
        /*display: block;*/
        /*text-align: right;*/
        /*font-size: 11px;*/
        /*color: white;*/
        /*padding: 0 0 10px;*/
    /*}*/
    /*.fl-table thead, .fl-table tbody, .fl-table thead th {*/
        /*display: block;*/
    /*}*/
    /*.fl-table thead th:last-child{*/
        /*border-bottom: none;*/
    /*}*/
    /*.fl-table thead {*/
        /*float: left;*/
    /*}*/
    /*.fl-table tbody {*/
        /*width: auto;*/
        /*position: relative;*/
        /*overflow-x: auto;*/
    /*}*/
    /*.fl-table td, .fl-table th {*/
        /*padding: 20px .625em .625em .625em;*/
        /*height: 60px;*/
        /*vertical-align: middle;*/
        /*box-sizing: border-box;*/
        /*overflow-x: hidden;*/
        /*overflow-y: auto;*/
        /*width: 120px;*/
        /*font-size: 13px;*/
        /*text-overflow: ellipsis;*/
    /*}*/
    /*.fl-table thead th {*/
        /*text-align: left;*/
        /*border-bottom: 1px solid #f7f7f9;*/
    /*}*/
    /*.fl-table tbody tr {*/
        /*display: table-cell;*/
    /*}*/
    /*.fl-table tbody tr:nth-child(odd) {*/
        /*background: none;*/
    /*}*/
    /*.fl-table tr:nth-child(even) {*/
        /*background: transparent;*/
    /*}*/
    /*.fl-table tr td:nth-child(odd) {*/
        /*background: #F8F8F8;*/
        /*border-right: 1px solid #E6E4E4;*/
    /*}*/
    /*.fl-table tr td:nth-child(even) {*/
        /*border-right: 1px solid #E6E4E4;*/
    /*}*/
    /*.fl-table tbody td {*/
        /*display: block;*/
        /*text-align: center;*/
    /*}*/
/*}*/







/*.rwd-table {*/
    /*margin: auto;*/
    /*min-width: 300px;*/
    /*max-width: 100%;*/
    /*border-collapse: collapse;*/
/*}*/

/*.rwd-table tr:first-child {*/
    /*border-top: none;*/
    /*background: #428bca;*/
    /*color: #fff;*/
/*}*/

/*.rwd-table tr {*/
    /*border-top: 1px solid #ddd;*/
    /*border-bottom: 1px solid #ddd;*/
    /*background-color: #f5f9fc;*/
/*}*/

/*.rwd-table tr:nth-child(odd):not(:first-child) {*/
    /*background-color: #ebf3f9;*/
/*}*/

/*.rwd-table th {*/
    /*display: none;*/
/*}*/

/*.rwd-table td {*/
    /*display: block;*/
/*}*/

/*.rwd-table td:first-child {*/
    /*margin-top: .5em;*/
/*}*/

/*.rwd-table td:last-child {*/
    /*margin-bottom: .5em;*/
/*}*/

/*.rwd-table td:before {*/
    /*content: attr(data-th) ": ";*/
    /*font-weight: bold;*/
    /*width: 120px;*/
    /*display: inline-block;*/
    /*color: #000;*/
/*}*/

/*.rwd-table th,*/
/*.rwd-table td {*/
    /*text-align: left;*/
/*}*/

/*.rwd-table {*/
    /*color: #333;*/
    /*border-radius: .4em;*/
    /*overflow: hidden;*/
/*}*/

/*.rwd-table tr {*/
    /*border-color: #bfbfbf;*/
/*}*/

/*.rwd-table th,*/
/*.rwd-table td {*/
    /*padding: .5em 1em;*/
/*}*/
/*@media screen and (max-width: 601px) {*/
    /*.rwd-table tr:nth-child(2) {*/
        /*border-top: none;*/
    /*}*/
/*}*/
/*@media screen and (min-width: 600px) {*/
    /*.rwd-table tr:hover:not(:first-child) {*/
        /*background-color: #d8e7f3;*/
    /*}*/
    /*.rwd-table td:before {*/
        /*display: none;*/
    /*}*/
    /*.rwd-table th,*/
    /*.rwd-table td {*/
        /*display: table-cell;*/
        /*padding: .25em .5em;*/
    /*}*/
    /*.rwd-table th:first-child,*/
    /*.rwd-table td:first-child {*/
        /*padding-left: 0;*/
    /*}*/
    /*.rwd-table th:last-child,*/
    /*.rwd-table td:last-child {*/
        /*padding-right: 0;*/
    /*}*/
    /*.rwd-table th,*/
    /*.rwd-table td {*/
        /*padding: 1em !important;*/
    /*}*/
/*}*/

